@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Syne', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Salted';
  src: url('/fonts/fonnts.com-Salted_Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-salted {
  font-family: 'Salted', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Syne';
  src: url('/fonts/Syne-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-oczko-violet: #4C3D93;
  --color-oczko-gray-100: #F8F8F8;
}