@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Syne', Arial, Helvetica, sans-serif;
}

html {
  scroll-padding-top: 5rem;
}

@font-face {
  font-family: 'Salted';
  src: url('/fonts/fonnts.com-Salted_Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-salted {
  font-family: 'Salted', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Syne';
  src: url('/fonts/Syne-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-oczko-violet-100: #E9E8F2;
  --color-oczko-violet-200: #C6C2DD;
  --color-oczko-violet-300: #9289BD;
  --color-oczko-violet-500: #4C3D93;
  --color-oczko-violet-600: #3D3176;
  --color-oczko-gray-100: #F8F8F8;
  --color-oczko-green-100: #FAF9EC;
  --color-oczko-green-300: #E9E7B4;
  --color-oczko-green-500: #C9C344;
  --color-oczko-green-1000: #28270F;
  --color-oczko-orange-400: #F99C89;
  --color-oczko-orange-500: #F77B62;
  --color-oczko-orange-600: #F55A3B;
  --color-oczko-stroke: #252527;
}

/* Global line height for text-base */
.text-base {
  line-height: 130%;
}